<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileNamer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <FileNamer.Properties.Settings>
            <setting name="VideoFiles" serializeAs="String">
                <value>.mov,.avi,.mkv,.mov,.mp4,.mpg,.wmv</value>
            </setting>
            <setting name="Documents" serializeAs="String">
                <value>.doc,.docx,.pdf,.txt,.xls,.xlsx,.rtf</value>
            </setting>
            <setting name="Images" serializeAs="String">
                <value>.jpeg,.jpg,.gif,.tiff,.png,.bmp,.ppm,.pgm,.pbm,.pnm,.jfif</value>
            </setting>
        </FileNamer.Properties.Settings>
    </applicationSettings>
</configuration>